

<h2>Enter the location you would like to analyze</h2>

<form action="/ingest_location">
  <label for="location">Location</label>
  <input id="location" type="text" name="input_location" placeholder="Google Maps Search...">

  <button>Search</button>
</form>

<form action="/ingest_location">
  <label for="purpose">Purpose</label>
  <input id="purpose" type="text" name="input_purpose" placeholder="(Live, Invest, Work)">

  <button>Search</button>
</form>

<br>

<table border="1">
  <tr>
    <th>
      Location
    </th>

    <th>
      Livability Score
    </th>

    <th>
      School Rating
    </th>

    <th>
      Investment Score
    </th>

    <th>
      Median Household Income
    </th>
  </tr>

</table>
