<h1>Current Listings</h1>

<table border="1">
  <tr>

    <th>Picture</th>
    <th>Address</th>
    <th>Beds</th>
    <th>Baths</th>
    <th>Square Feet</th>
    <th>Price</th>
    <th>Liveability Score</th>
    <th>School Rating</th>
    <th>Invest Score</th>
    <th>Add</th>    

  </tr>
    <td>
      <img src="https://www.bhg.com/thmb/0Fg0imFSA6HVZMS2DFWPvjbYDoQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/white-modern-house-curved-patio-archway-c0a4a3b3-aa51b24d14d0464ea15d36e05aa85ac9.jpg" width="500" 
     height="400">
    </td>
    <td>1234 Main Street</td>
    <td>3</td>
    <td>2.5</td>
    <td>2000</td>
    <td>$300,000</td>
    <td>84</td>
    <td>7</td>
    <td>90</td>
    <td>
        <button>Add to Favorites</button>

    </td>
 
</table>
